/* <!--navbar--> */
.logo {
  width: 30px;
}

.navbar {
  padding: 2rem;
  background-color: #f5f6f7;
}

.navbar-collapse {
  justify-content: space-between;
  align-items: center;
}

/* hero */
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2.5rem;

  font-family: "Rubik Dirt", serif;
  font-weight: 400;
  font-style: normal;
}

.hero {
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;
}

.hero-principal {
  padding: 3rem;
}

.hero-principal h2 {
  font-size: 1.5rem;
  color: #615151;
}

.hero-img-desarrollador {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 30px;
}

/* sobre mi */

.seccion-oscura {
  color: white;
  background-color: black;
}

.seccion-sobremi {
  height: 500px;
  padding: 10px;
}

.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: "Rubik Dirt", serif;
}

.seccion-sobremi .contenedor {
  max-width: 600px;
  text-align: center;
}

.seccion-parrafo {
  padding: 15px;
  font-size: 1.5rem;
}

/* experiencia */
.experiencia i {
  font-size: 2.5rem;
  color: #7ade30;
  background-color: #0a0a23;
  padding: 8px 19px;
  border-radius: 50%;
}

.experiencia {
  padding: 40px 40px 60px 40px;
}

.seccion-clara {
  background-color: white;
  color: black;
}

/* .experiencia .row div {
  height: 250px;
  background-color: purple;
  border: 3px solid orange;
} */
.experiencia .columna {
  padding: 20px;
  border: 2px solid #8080804d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
  color: white;
  background-color: #1b1b32;
}

.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.badges-contenedor {
  font-weight: bold;
  margin: 10px 0;
}

.badge {
  margin: 5px;
}

/* mediaquery */
@media screen and (max-width: 768px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  .hero-inferior-img {
    max-width: 600px;
  }
}
